/* Styling required to delight and marvel */

:root {
  --secondary: rgba(235, 33, 64, 1);
  --tertiary: rgba(38, 24, 53, 1);

  --field: rgba(46, 40, 76, 1);
}

@font-face {
  font-family: 'Komika-Title';
  src:url('../fonts/Komika-Title.ttf.woff') format('woff'),
    url('../fonts/Komika-Title.ttf.svg#Komika-Title') format('svg'),
    url('../fonts/Komika-Title.ttf.eot'),
    url('../fonts/Komika-Title.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
}

body {
  margin: 0;
}

#hero {
  background-color: rgba(46, 40, 76, 1);
  opacity: 1;
  padding: 1rem;
}

#faq {
  background-color: whitesmoke;
  border: .25rem solid rgba(38, 24, 53, 1);
  margin: 0 auto;
  padding: 1rem;
  width: 37.5rem;
}

#faq h1,
#faq h2 {
  background-color: rgba(46, 40, 76, 1);
  color: white;
  font-family: 'Komika-Title', sans-serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  line-height: 1;
  margin: .5rem 0;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
}

#faq h2 {
  color: rgba(235, 33, 64, 1);
  font-size: 3rem;
  position: relative;
  padding-left: 2rem;
}

#faq h2:before {
  border-style: solid;
  border-width: .625rem 0 .625rem 1rem;
  border-color: transparent transparent transparent rgba(235, 33, 64, 1);
  content: "";
  height: 0;
  left: .5rem;
  position: absolute;
  top: 1.25rem;
  width: 0;
}

#faq p,
#faq li {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5rem;
}

#faq strong {
  background-color: rgba(235, 33, 64, 1);
  color: white;
  display: inline-block;
  padding: .125rem .25rem;
}

#faq a {
  background-color: rgba(46, 40, 76, 1);
  color: white;
  display: inline-block;
  padding: .125rem .25rem;
  text-decoration: none;
}

#faq ul {
  list-style-position: inside;
  padding: 0;
}

#faq .map a {
  background-color: transparent;
  color: rgba(46, 40, 76, 1);
  padding: 0;
  width: 100%;
}

#faq figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

#faq figure img {
  background-position: 50% 50%;
  background-size: cover;
  height: 5rem;
  width: 100%;
  max-width: 100%;
}
