/* Styling required to delight and marvel */

:root {
  --primary: rgba(255, 213, 3, 1);
  --secondary: rgba(235, 33, 64, 1);
  --tertiary: rgba(38, 24, 53, 1);

  --field: rgba(35, 34, 71, 1);
}

/* @font-face {
  font-family: 'Komika-Title';
  src:url('../fonts/Komika-Title.ttf.woff') format('woff'),
    url('../fonts/Komika-Title.ttf.svg#Komika-Title') format('svg'),
    url('../fonts/Komika-Title.ttf.eot'),
    url('../fonts/Komika-Title.ttf.eot?#iefix') format('embedded-opentype');
  font-weight: normal;
  font-style: normal;
} */

body {
  background-color: rgba(46, 40, 76, 1);
  margin: 0;
}

#wikiPageControl_cntrl_6_panelContent {
  background-color: rgba(46, 40, 76, 1);
}

#content {
  background: rgba(35, 34, 71, 1);
  position: relative;
}

#poster {
  opacity: 1;
  padding: 1rem;
  position: relative;
}

#hero {
  opacity: 1;
  padding: 1rem;
  position: relative;
}

#hero-fade {
  background: linear-gradient(0deg, rgba(241, 95, 66, 1) 0%, rgba(35, 34, 71, 1) 100%);
  background-attachment: fixed;
  height: 62.5rem;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#hero-clouds {
  background: transparent url(../graphics/poster_clouds.png) no-repeat 50% 100%;
  height: 62.5rem;
  left: 0;
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: 0;
}

#hero-scape {
  background: transparent url(../graphics/poster_scape.png) no-repeat 50% 100%;
  bottom: -5rem;
  height: 23.75rem;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: 10
}

#care {
  background-color: whitesmoke;
  border: .25rem solid rgba(38, 24, 53, 1);
  margin: 0 auto 8.5rem;
  padding: 1rem 1rem 3.5rem;
  position: relative;
  width: 37.5rem;
  z-index: 10
}

#care h1 {
  background-color: rgba(235, 33, 64, 1);
  color: whitesmoke;
  font-family: 'Stint Ultra Condensed', serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  line-height: 1;
  margin: .5rem 0;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
}

#care p {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5rem;
}

#faq {
  background-color: whitesmoke;
  border: .25rem solid rgba(38, 24, 53, 1);
  margin: 0 auto 1rem;
  padding: 1rem 1rem .5rem;
  position: relative;
  width: 37.5rem;
  z-index: 10
}

#faq h1,
#faq h2 {
  background-color: rgba(46, 40, 76, 1);
  color: rgba(255, 213, 3, 1);
  font-family: 'Stint Ultra Condensed', serif;
  font-size: 3rem;
  letter-spacing: .2rem;
  line-height: 1;
  margin: .5rem 0;
  padding: .5rem 1.5rem;
  text-transform: uppercase;
}

#faq h2 {
  color: rgba(235, 33, 64, 1);
  font-size: 3rem;
  position: relative;
  padding-left: 2rem;
}

#faq h2:before {
  border-style: solid;
  border-width: .625rem 0 .625rem 1rem;
  border-color: transparent transparent transparent rgba(235, 33, 64, 1);
  content: "";
  height: 0;
  left: .5rem;
  position: absolute;
  top: 1.25rem;
  width: 0;
}

#faq p,
#faq ul,
#faq dl {
  font-family: 'Archivo Narrow', sans-serif;
  font-size: 1.5rem;
}

#faq b {
  background-color: rgba(255, 213, 3, 1);
  display: inline-block;
  padding: .125rem .25rem;
}

#faq strong {
  background-color: rgba(235, 33, 64, 1);
  color: white;
  display: inline-block;
  padding: .125rem .25rem;
}

#faq a {
  background-color: rgba(46, 40, 76, 1);
  color: white;
  display: inline-block;
  padding: .125rem .25rem;
  text-decoration: none;
}

#faq ul {
  list-style-position: inside;
  padding: 0;
}

#faq .map a {
  background-color: transparent;
  color: rgba(46, 40, 76, 1);
  padding: 0;
  width: 100%;
}

#faq figure {
  margin: 0;
  padding: 0;
  width: 100%;
}

#faq figure img {
  background-position: 50% 50%;
  background-size: cover;
  height: 5rem;
  width: 100%;
  max-width: 100%;
}
